body {
    color: #fff;
    font-family: "Space Grotesk", serif;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}

#mockup {
    filter: drop-shadow(0 0 60px rgba(255, 255, 255, 0.3));
    max-width: 25%;
    position: absolute;
    right: 100px;
    top: 9vh;
}

.container {
    position: relative;
    padding: 50px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    margin-bottom: 40px;
    animation: typing 5s;
}

.download-btn {
    visibility: hidden;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #fff;
}

.download-btn:hover{
    color: #0c0c0c;
    background-color: #fff;
}

.links {
    position: fixed;
    color: #fff;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

@keyframes blink {
    50% { opacity: 0; }
}

.typewriter::after {
    content: "|";
    display: inline-block;
    animation: blink 0.7s infinite;
}

.typewriter.done::after {
    content: "";
}

@media (max-width: 500px) {
    #mockup {
        position: absolute;
        top: 370px;
        right: 50px;
        max-width: 70%;
    }
}

