body {
    color: #fff;
    font-family: "Space Grotesk", serif;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}
.container {
    padding: 50px;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
p {
    font-size: 1.5em;
    margin-bottom: 40px;
}
.download-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
    border: 2px solid #fff;
}

.download-btn:hover {
    color: #0c0c0c;
    background-color: #fff;
}

.links {
    position: fixed;
    color: #fff;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}